.ai-response-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Response Data Container */
.response-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
  padding: 0.5em;
  width: 100%;
  min-height: 50vh;
  max-height: 50vh;
  background-color: var(--grey);
  color: var(--white);
  overflow-y: auto;
  scrollbar-width: thin;
}

/* INPUT */
.user-input {
  min-width: 70%;
  max-width: 70%;
  min-height: 10vh;
  max-height: 25vh;
  padding: 0.25em;
}

/* BUTTONS */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  gap: 1em;
  width: 100%;
}
